.button {
    user-select: none;
    margin-top: 10px;
    font-family: poppins-medium;
    text-transform: uppercase;
    color: #fff;
    background: var(--primary-color);
    padding: 10px 25px;
    border-radius: 3px;
    cursor: pointer;
    transition: var(--speed) ease-in-out;
}

.button:hover {
    background: var(--primary-color-hover);
}
