.header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    user-select: none;
}

/* Logo */

.logo img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: var(--speed) ease-in-out;
    margin-left: -25px;
}
.logo img:hover{
    transform: RotateY(180deg);
}

/* Navbar */
.navbar{
    display: flex;
    z-index: 100;
}
.navbar__route{
    text-decoration: none;
    height: 100%;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    font-family: poppins-medium;
    color: var(--text-secondary);
    transition: color var(--speed) ease-in-out;
}
.navbar__route:hover{
    color: var(--text-primary);
}
.is-active-route{
    color: var(--text-primary);
    border-bottom: 3px solid var(--primary-color);
    font-family: poppins-bold;
}

/* Connect */
.connect{
    display: flex;
    align-items: center;
    justify-content: center;
}
.connect__icon{
    margin-right: 15px;
    cursor: pointer;
    z-index: 1000;
    transition: var(--speed) ease-in-out;
    font-size: 20px;
    padding: 2px;
   border-radius: 5px;

}
.connect__icon:hover{
   color:var(--primary-color);
}
.connect__icon:last-child{
    margin-right: 0px;
}