.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10000;
}
.popup > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 80vw;
    max-height: 80vh;
}
.popup__icon {
    position: absolute;
    right: 30px;
    top: 30px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
