.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #fff;
  /* background: linear-gradient(to right, #fff 70%, var(--primary-color) 30%); */
}
main {
  height: calc(100vh - 60px);
}

