.resume {
    height: 100%;
    display: flex;
}
.resume__content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.resume__content img{
    /* width: 600px; */
    height: 100%;
    box-shadow: var(--box-shadow);
}

.resume__title{
    height: 100%;
    width: 30%;
}