.about {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__title{
    width: 100%;
    user-select: none;
}
.about__content {
    height: auto;
    width: 900px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
}

.about__text-top {
    font-family: poppins-medium;
    color:var(--text-primary);
    font-size: 27px;
    margin-bottom: 30px;
}
.about__text {
    line-height: 30px;
    font-size: 14px;
    color:var(--text-primary);
    /* font-family: poppins-medium; */
}
.about__buttonContainer{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
