.about {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__title{
    height: 100%;
    user-select: none;
}
.about__content {
    height: auto;
    width: 800px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
}
.about__text-top {
    font-family: poppins-medium;
    color:var(--text-tertiary);
    font-size: 30px;
    margin-bottom: 30px;
}
.about__text {
    line-height: 30px;
    font-size: 14px;
}
