.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    user-select: none;
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    transition: 0.3s;
}

/* Logo */

.logo img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    cursor: pointer;
    transition: var(--speed) ease-in-out;
    margin-left: -25px;
}
.logo img:hover {
    transform: translateY(5px);
}

/* Navbar */
.navbar {
    display: flex;
    z-index: 100;
}
.navbar__route {
    position: relative;
    text-decoration: none;
    height: 100%;
    padding: 5px;
    margin: 0 15px;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    font-family: poppins-medium;
}

.navbar__route:after {
    position: absolute;
    left: 0;
    content: "";
    height: 24px;
    width: 100%;
    border-bottom: solid 2px var(--primary-color);
    -webkit-transform: scaleX(0.0001);
    -ms-transform: scaleX(0.0001);
    transform: scaleX(0.0001);
    -webkit-transition: -webkit-transform var(--speed) ease-in-out;
    transition: transform var(--speed) ease-in-out;
}
.navbar__route:hover:after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.active-section {
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
}

/* Connect */
.connect {
    display: flex;
    align-items: center;
    justify-content: center;
}
.connect__icon {
    margin-right: 15px;
    cursor: pointer;
    z-index: 1000;
    transition: var(--speed) ease-in-out;
    font-size: 20px;
    padding: 2px;
    border-radius: 5px;
}
.connect__icon:hover {
    color: var(--primary-color);
}
.connect__icon:last-child {
    margin-right: 0px;
}
/* Menu */
.header__menu {
    display: none;
}

@media only screen and (max-width: 700px) {
    .navbar,
    .connect {
        display: none;
    }
    .header__menu {
        display: block;
    }
}
