.verticalTitle {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    /* right: 10%; */
    display: flex;
}
.verticalTitle p {
    /* width: 100px; */
    /* background: pink; */
    text-transform: uppercase;
    font-size: 80px;
    font-family: poppins-black;
    /* writing-mode: vertical-rl;
    text-orientation: upright; */
    color: rgb(151, 248, 203,.5);
    z-index: 1000;
    letter-spacing: 20px;
}
